
.fulldoughnutdiv{
   margin: 2rem 0 0 18rem;
   display: flex;
   width: max-content;
   height: max-content;
   box-shadow: 0.5px 0.5px 3px 2px rgb(26, 1, 36);
   border-radius: 1rem;
   padding: 0rem 4rem 2rem 0rem;
   display: flex;
}
@keyframes doughnuttitleentry {
    0%   { margin-top: 0; }
    100% { margin-top: 11rem;
           color: rgb(166, 247, 247);
         }
    
}

.doughnuttitle{
    color: whitesmoke;
    margin: 0rem 0 0 2rem;
    animation: doughnuttitleentry 0.9s linear 0s 1 normal forwards;

}
.chartdiv{
    
    width: 24rem; 

}
.legendsdiv{
    
    height: max-content;
    width: max-content;
    margin:10rem 0 0 3rem;
    display: flex;
    flex-direction: column;
}
.paidlegendsdiv , .unpaidlegendsdiv{
    display: flex;
}
.unpaidlegendbox , .paidlegendbox{
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 10, 10, 0.493);
    float: left;
    border-radius: 0.5rem;
}

.paidlegendbox{
    
    background-color: rgb(41, 190, 3);
    
}

.paidlegend, .unpaidlegend{
    margin: 0.3rem 0 0 1rem;
    color: whitesmoke;
}

@media only screen and (max-width:600px){


.fulldoughnutdiv{
  
   display:block;
   padding: 0;
   margin: 2rem 0 5rem 1rem;
}

@keyframes doughnuttitleentry {
     0%  { padding-left: 0;}
    100% { padding-left: 7rem;
           color: rgb(166, 247, 247);
         }
    
}

.doughnuttitle{
    margin: 0;
    padding: 1.5rem 0 0 0;
    animation: doughnuttitleentry 0.8s linear 0s 1 normal forwards;
    
}
.chartdiv{
    
    width: 24rem; 

}
.legendsdiv{
    
    margin: 2rem 0 0 6rem ;
    padding: 0 0 2rem 0;
    flex-direction: row;
}

.unpaidlegendsdiv{
    margin-left: 3rem;
}


}