.addformdiv{
    color: white;
    margin :4rem 0 0 20%;
    padding: 4rem 2rem 4rem 17rem;
    border: solid rgb(58, 4, 58) 1px ;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px 4px rgba(103, 16, 124, 0.541);
    width: 50rem;
    
}

.paidlabel{
    color: rgb(100, 235, 100);
    margin-left: 0.5rem;
    
}
.paidradiobtn{
    margin-left: 2rem;
}

.unpaidlabel{
    color: rgb(243, 108, 108);
    margin-left: 0.5rem;
    
}
.unpaidradiobtn{
    margin-left: 1rem;
}

.addbtn{
    background-color: rgb(23, 4, 41);
    font-size: 1rem;
    width: 20rem;
    height: max-content;
    padding: 0.5rem;
    text-align: center;
    color:white;
    outline: none;
    border: solid rgb(140, 0, 255) 1px;
    border-radius: 0.5rem;
    margin-top: 2rem;
   

}

.addbtn:hover
{
    cursor: pointer;
    font-weight: bold;

}
.addbtn:active{
    background-color: rgb(106, 75, 134);
}

@media only screen and (max-width: 600px) {

    .addformdiv{
        color: white;
        margin :2rem 0 0 1rem;
        padding: 4rem 0rem 4rem 1.4rem;
        border: solid rgb(23, 4, 41) 1px ;
        border-radius: 1rem;
        box-shadow: 0px 4px 8px 4px rgb(23, 4, 41);;
        width: 24rem;
        
    }
    
  }