h1{
    color: white;
    text-align: center;
    margin: 2rem 0 2rem 2rem;
}

.updateoptionsdiv{
   border : solid rgb(23, 4, 41) 5px;
   display: flex;
}
.updateoptions{
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    background-color: rgb(45, 8, 78);;
}
.updateoptions:hover{
    background-color: rgb(73, 36, 107);;
}

.updateexisting , .addnew{
    text-decoration: none;
    list-style-type: none;
    color: white;
    
    
}  