.couldnotfindresult {
  font-size: 2rem;
  padding: 4rem 0 4rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: maroon;
}
@keyframes loaderrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadericon{
  color: #9466ff;
  height: 3rem;
  width: 3rem;
  margin:5rem 0 0 48%;
  animation: loaderrotate 0.5s linear 0s infinite normal forwards;
}
@media only screen and (max-width: 600px) {
  .couldnotfindresult {
    font-size: 1.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .loadericon{
    margin:5rem 0 0 45%;
  }
}
