.logindiv {
  padding: 3rem 0 0 0;
}
.logindivheading {
  text-align: center;
  color: white;
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 1rem;
  margin: 3rem 0 2rem 0;
  font-size: 2rem;
}
.h4login {
  text-align: center;
  color: aliceblue;
}
.loginform {
  width: auto;
  display: flex;
  flex-direction: column;
}
.loginlabel {
  margin: 0 0 1rem 0;
  display: block;
  text-align: center;
  width: 100%;
}

.loginformdiv {
  color: white;
  margin: 2rem 0 0 20%;
  padding: 2rem 0 2rem 0;
  border: solid rgb(23, 4, 41) 1px;
  box-shadow: 0px 4px 8px 4px rgb(23, 4, 41);
  border-radius: 1rem;
  width: 50rem;
}

.logininput {
  background-color: rgb(214, 169, 240);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  display: block;
  align-self: center;
  margin: 0 0 2rem 0;
  width: 40%;
  text-align: center;
}

.loginbutton {
  background-color: rgb(23, 4, 41);
  font-size: 1rem;
  width: 10rem;
  height: max-content;
  padding: 0.5rem;
  text-align: center;
  color: white;
  outline: none;
  border: solid rgb(72, 9, 124) 1px;
  border-radius: 0.5rem;
  align-self: center;
}

.loginbutton:hover {
  cursor: pointer;
  background-color: rgb(106, 75, 134);
}
.loginbutton:active {
  font-size: larger;
}

.loginnote {
  color: rgb(102, 37, 163);
  text-align: center;
  margin: 1rem 0 5rem 0;
}

@media only screen and (max-width: 600px) {
  .loginformdiv {
    margin: 2rem 0 0 1rem;
    width: 24rem;
  }

  .logininput {
    width: 70%;
  }

  .loginnote {
    margin: 1.5rem 0 5rem 0;
    font-size: 0.7rem;
    padding: 0 2rem 0 2rem;
  }
}
