.updateexisttble {
  width: 78%;
  margin: 2rem 0 2rem 9rem;
  border: solid rgb(187, 138, 233) 1px;
  border-radius: 1rem;
  color: aliceblue;
  text-align: center;
  padding: 1rem;
  /* box-shadow: -1.75px -1.75px 10px 0 #db7093, 2px 2px 10px 0 #3798eb; */
}
/* .updateexistrow{
  background-color: red;
} */
.updateexistth {
  padding: 1rem;
  font-size: larger;
  color: rgb(177, 245, 222);
}
.updateexisttd {
  padding: 1rem;
  text-align:center;
  word-wrap:break-word;
}

@keyframes divappear {
  
  from{  background-color: transparent;
         box-shadow: none; 
      }
  to  {  background-color: rgb(40, 6, 56);
         box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
}

.updateinputdiv{
  height: 16rem;
  width: 22rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  margin: 19rem 0 0 35%;
  background-color: transparent;
  position: absolute;
  top: 0;
  color: aliceblue;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: divappear 0.2s linear 0s 1 normal forwards;
}
.closelogo{
  margin: 0 0 0 19rem;
  color: rgb(243, 82, 82);
  font-size: 1rem;
  background-color: rgb(39, 3, 39);
  border: none;
}
.closelogo:active{
  font-size:1.3rem ;
}
.updateform{
  margin: 1rem 0 0 0.4rem;
}

.updateinputfield{
  margin-left: 2rem;
  height: 1.5rem;
  width: 13rem;
  background-color: rgb(115, 83, 146);
  outline: none;
  border: none;
  color: white;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

.nameip{
  margin-left: 3rem;
}

.updateaddressip{
  margin-left: 1rem;
}

.updatestatusip{
  margin : 0 0 1rem 1.8rem;
}

.updatepaidlabel{
  color: rgb(100, 235, 100);
  margin-left: 0.5rem;
  
}

.updatepaidradiobtn{
  margin-left: 3.5rem;
}

.updateunpaidlabel{
  color: rgb(243, 108, 108);
  margin-left: 0.5rem;
  
}
.updateunpaidradiobtn{
  margin-left: 1rem;
}

.updateaddbtn{
  background-color: rgb(23, 4, 41);
  font-size: 1rem;
  width: 10rem;
  height: max-content;
  padding: 0.5rem;
  text-align: center;
  color:white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem 0 2rem 5rem;
}

.updateaddbtn:hover
{
  cursor: pointer;
  background-color: rgb(106, 75, 134);

}
.updateaddbtn:active{
  font-size: larger;
}

@media only screen and (max-width: 600px) {
  .updateexisttble {
    width: 24rem;
    margin: 2rem 0 2rem 1rem;
  }
  .updateinputdiv{
    margin: 19rem 0 0 2rem;
  }
}
